<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div
        style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #fff; border: 1px solid #ddd; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">

        <!-- Section Title for Service Details -->
        <h2 style="text-align: center; font-weight: bold; font-size: 1.5em; color: #333; margin-bottom: 20px;">Service
            Details</h2>

        <!-- Service Details Section -->
        <div style="padding: 10px 0; border-bottom: 1px solid #ddd;">
            <p><strong style="color: #333;">Selected Service:</strong> <span style="color: #0073e6;">Arrival
                    Airport</span></p>
            <p><strong style="color: #333;">Airport:</strong> Heathrow Terminal 3</p>
            <p><strong style="color: #333;">Additional Services:</strong></p>
            <ul style="list-style-type: disc; margin: 5px 0 10px 20px; padding: 0; color: #0073e6;">
                <li>Meet & Greet Assistant</li>
                <li>Buggy</li>
                <li>Porter</li>
            </ul>
            <p><strong style="color: #333;">Date and Time:</strong> 07-11-2024 16:15</p>
        </div>

        <!-- Travelers Section -->
        <h2
            style="text-align: center; font-weight: bold; font-size: 1.5em; color: #333; margin-top: 20px; margin-bottom: 20px;">
            Travelers</h2>
        <div style="padding: 10px 0; border-bottom: 1px solid #ddd;">
            <p><strong style="color: #333;">Adults (Above 12 years old):</strong> 2</p>
            <p><strong style="color: #333;">Children (2 to 12 years old):</strong> 0</p>
            <p><strong style="color: #333;">Infants (Below 2 years old):</strong> 0</p>
        </div>

    </div>
</body>

</html>