@import "../../styles/variables";
@import "../../styles/fonts";

.page {
    position: relative;
    margin-left: 0px !important;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
    width: 100%;
    flex-grow: 1;
    margin-top: 0px;
    padding-bottom: 0px;

    @media (max-width: 990px) {
        padding-top: 80px;
    }



    &_section {
        margin-right: 10px !important;
        margin-left: 80px !important;
        flex-grow: 1;
        display: flex;
        overflow-x: auto;

        @media (max-width: 1450px) {
            margin: 0 50px !important;
        }

        @media (max-width: 768px) {
            margin: 0 25px !important;
        }

        @media (max-width: 450px) {
            margin: 0 10px !important;
        }

        &_container {
            position: relative;
            max-width: 100% !important;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow-x: auto;

            @media (max-width: 1500px) {
                padding: 0px !important;
            }

            .title_div {
                padding-bottom: 20px;

                h1 {
                    font-size: 30px;
                    font-weight: 500;
                    font-family: $font-jost;
                }
            }

            .tabs_container {
                box-shadow: 0px 10px 30px 0px #05103608;
                padding: 25px 0px;
                padding-bottom: 0px !important;
                border-radius: 4px;
                background-color: white;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                gap: 1rem;
                overflow-x: auto;

                .tabs_content_header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    @media (max-width:650px) {
                        flex-direction: column;
                    }

                    .add_new_user_btn_div {
                        @media (max-width:650px) {
                            width: 100%;
                            order: 1;
                        }

                        button {
                            padding: 10px 20px;
                            border: 1px solid #b1afaf;
                            cursor: pointer;
                            color: $blue-1;
                            background-color: white;
                            font-weight: 500;

                            &:hover {
                                border-radius: 5px !important;
                                transition: .2s linear;
                            }
                        }
                    }

                    .search_div {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        width: 300px;

                        @media (max-width:650px) {
                            width: 100%;
                            margin-bottom: 1rem;
                        }

                        input {
                            padding: 10px 20px;
                            font-size: 14px;
                            color: $darkPrimary;
                            border: 1px solid $border-light;
                            box-shadow: none;
                            transition: all 0.3s;
                            background-color: #fff;
                            outline: none;
                            border-radius: 5px;
                            transition: $tr-linear;
                            width: 100%;

                            &:focus {
                                border-color: $blue-1;
                            }

                            &::placeholder {
                                color: rgba(59, 59, 59, 0.628);
                            }
                        }
                    }

                }

                .table {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                }

                .table_buttons_div {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 1rem;

                    button {
                        background-color: $blue-1;
                        color: white;

                        @media (max-width: 550px) {}
                    }
                }
            }
        }
    }
}